<template name="AdminChat">
  <div>
    {{> chat}}
  </div>
</template>
<template name="chat">
  <div class="container">
    {{#if currentUser}}
    <div class="ui internally celled grid">
      <div class="row">
        <div class="three wide column" >
          <!-- <div class="span4 well"> -->
            <a>{{> loginButtons align="left"}}</a>
            {{> rooms}}
          <!-- </div> -->
        </div>
        <div class="ten wide column">
          <div class="ui attached message">
            <div class="header">
              <h3>Bạn đang chat với {{user}}:</h3>
            </div>
          </div>
          <form class="ui form attached fluid segment">
            <div class="two fields">
              <div class="row-fluid" style="width:100%;">
                <div class="span12 well">
                  {{> messages}}
                </div>
              </div>
            </div>
            <div class="inline field">
            </div>
          </form>
          {{> input}}
      </div>
    </div>
  </div>
  {{else}}
  <center><div class="hero-unit">
    {{>LoginForm}}
  </div></center>
  {{/if}}
</div>
</template>

<template name="message">
  <div class="message">
    <a href="" class="message_username">{{user}}</a>
    <div style="width:;">
      <span style="font-size: 0.7em; color: darkgray">
        ({{timestamp}}):
      </span>
      <span class="">{{text}}</span>
    </div>
  </div>
</template>
<template name="input">
  <form class="ui form" id="NewTextForm">
    <div class="field">
      <input type="text" id="msg" name="msg" placeholder="Xin mời nhập tin nhắn" class="ui form-control">
    </div>
    <div class="field">
      <button type="submit" class="ui teal button sendMesg">Gửi tin nhắn</button>
    </div>
</form>
</template>
<template name="messages">
  <form id="messages" style="background-color: #ffffff; border: 1px solid darkgray;width: 100%; max-height: 400px; overflow: auto">
    {{#each messages}}
    {{> message}}
    {{/each}}
  </form>
</template>
<template name="rooms">
  <h3>Thành viên đang chat:</h3>
  <ul>
    {{#each rooms}}
    {{> room}}
    {{/each}}
  </ul>
</template>
<template name="room">
  <i style="float:right;" class="mail icon delete"></i>
  <div class="content">
    <a class="header">{{user}}</a>
    <div class="description">({{phone}})
    </div>
  </div>
</template>
<template name="LoginForm">
  <div class="ui middle aligned center aligned grid">
  <div class="column" style="width: 50%; align: center;margin-top:10px;">
    <h2 class="ui teal image header">
      <div class="content">
        <h1>Welcome ADMIN to page chat</h1>
        <h3>XIN MỜI ĐĂNG NHẬP ĐỂ VÀO PHÒNG CHAT</h3>
      </div>
    </h2>
    <form class="ui large form" id="login">
      <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" id="txtName" placeholder="Tên tài khoản">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" id="txtPass" placeholder="Mật khẩu">
            </div>
          </div>
          <button class="ui fluid large teal submit button" id="login">Đăng nhập</button>
        </div>
      </form>
    </div>
  </div>

</template>
