<template name="AdminChat">
  <div>
    {{> chat}}
  </div>
</template>
<template name="chat">
  <div class="container">
    {{#if currentUser}}
    <div class="ui internally celled grid">
      <div class="row">
        <div class="three wide column" >
          <!-- <div class="span4 well"> -->
            <a>{{> loginButtons align="left"}}</a>
            {{> rooms}}
          <!-- </div> -->
        </div>
        <div class="ten wide column">
          <div class="ui attached message">
            <div class="header">
              <h3>BẠN ĐANG CHÁT VỚI: {{user}}</h3>
            </div>
          </div>
          <form class="ui form attached fluid segment">
            <div class="two fields">
              <div class="row-fluid" style="width:100%;">
                <div class="span12 well">
                  {{> messages}}
                </div>
              </div>
            </div>
            <div class="inline field">
            </div>
          </form>
          {{> input}}
      </div>
    </div>
  </div>
  {{else}}
  <center><div class="hero-unit">
    <h1>Welcome ADMIN to page chat</h1>
    <h3>XIN MỜI ĐĂNG NHẬP ĐỂ VÀO PHÒNG CHAT</h3>
    {{>LoginForm}}
  </div></center>
  {{/if}}
</div>
</template>

<template name="message">
  <div class="message">
    <a href="" class="message_username">{{user}}</a>
    <div style="width:;">
      <span style="font-size: 0.7em; color: darkgray">
        ({{timestamp}}):
      </span>
      <span class="">{{text}}</span>
    </div>
  </div>
</template>
<template name="input">
  <form id="NewTextForm">
    <input type="text" id="msg" name="msg" placeholder="xin mời nhập tin nhắn"
    style="border: 1px solid darkgray;width: 70%; max-height: 200px; overflow: auto">
    <button type="submit" class="ui teal button sendMesg">Send Message</button>
</form>
</template>
<template name="messages">
  <form id="messages" style="background-color: #ffffff; border: 1px solid darkgray;width: 100%; max-height: 400px; overflow: auto">
    {{#each messages}}
    {{> message}}
    {{/each}}
  </form>
</template>
<template name="rooms">
  <h3>DANH SÁCH KHÁCH HÀNG:</h3>
  <ul>
    {{#each rooms}}
    {{> room}}
    {{/each}}
  </ul>
</template>
<template name="room">
  <i style="float:right;" class="mail icon delete"></i>
  <div class="content">
    <a class="header">{{user}}</a>
    <div class="description">({{phone}})
    </div>
  </div>
</template>
<template name="LoginForm">
  <form class="ui form" id="login" style="width: 50%; align: center;">
    <div class="field">
      <label>Tài Khoản</label>
      <input type="text" id="txtName" placeholder="Tên Tài Khoản">
    </div>
    <div class="field">
      <label>Mật Khẩu</label>
      <input type="password" id="txtPass" placeholder="Mật Khẩu">
    </div>
    <input type="submit" id="login" value="Đăng nhập" class="ui teal button login">
  </form>
</template>
