<template name="homeTemplate">
  <div style="width:100%; height:100%;">
  <div class="ui two statistics">
    <div class="ui statistic" id="news">
      <div class="value">
        <img src="./icon/giff.png" />
      </div>
      <div class="label">
        Ưu đãi
      </div>
    </div>
    <div class="ui statistic" id="prescription">
      <div class="value">
        <i class="calendar outline icon"></i>
      </div>
      <div class="label">
        Nhắc nhớ
      </div>
    </div>
    <div class="ui statistic" id="pharmacy">
      <div class="value">
        <i class="find icon"></i>
      </div>
      <div class="label" style="color:#00CCCC;">
        Tìm nhà thuốc
      </div>
    </div>
    <div class="ui statistic" id="user">
      <div class="value">
        <i class="user icon"></i>
      </div>
      <div class="label" style="color:#00CCCC;">
         Tài khoản PCare
       </div>
     </div>
     <div class="ui statistic" id="infonews">
       <div class="value">
         <img src="./icon/giff.png" />
       </div>
       <div class="label"  style="color:#00CCCC;">
          Thông Tin Đổi Quà
      </div>
    </div>
    <div class="ui statistic" id="infonews">
      <div class="value">
        <i class="mail icon"></i>
      </div>
      <div class="label">
        Kết nối
      </div>
    </div>
    <div class="ui statistic" id="photo">
      <div class="value">
        <i class="camera retro icon"></i>
      </div>
      <div class="label"  style="color:#00CCCC;">
         Scan đơn thuốc
     </div>
    </div>
    <div class="ui statistic" id="list">
      <div class="value">
        <i class="file text outline icon"></i>
      </div>
      <div class="label"  style="color:#00CCCC;">
         Danh sách đơn thuốc
     </div>
    </div>
  </div>
</div>
</template>
