
<template name="homeTemplate">
  <div class="ui four statistics">
    <div class="ui statistic" id="calendar">
      <div class="value">
        <i class="calendar outline icon"></i>
      </div>
      <div class="label">
       Lịch uống thuốc
      </div>
    </div>
    <div class="ui statistic" id="news">
      <div class="value">
        <i class="announcement icon"></i>
      </div>
      <div class="label">
         Khuyến mãi
       </div>
     </div>
     <div class="ui statistic" id="infonews">
       <div class="value">
         <i class="gift icon"></i>
       </div>
       <div class="label">
          Thông Tin Đổi Quà
      </div>
    </div>
    <div class="ui statistic" id="pharmacy">
      <div class="value">
        <i class="cocktail icon"></i>
      </div>
      <div class="label">
        Nhà thuốc
      </div>
    </div>
    <div class="ui statistic" id="logout">
      <div class="value">
        <i class="arrow left icon"></i>
      </div>
      <div class="label">
        Đăng xuất
      </div>
    </div>
  </div>
   </template>
