
<template name="homeTemplate">
  <div class="ui two statistics">
    <div class="ui statistic" id="news">
      <div class="value">
        <i class="announcement icon"></i>
      </div>
      <div class="label">
        Ưu đãi
      </div>
    </div>
    <div class="ui statistic" id="prescription">
      <div class="value">
        <i class="calendar outline icon"></i>
      </div>
      <div class="label">
        Nhắc nhớ
      </div>
    </div>
    <div class="ui statistic" id="pharmacy">
      <div class="value">
        <i class="find icon"></i>
      </div>
      <div class="label">
        Tìm nhà thuốc
      </div>
    </div>
    <div class="ui statistic" id="user">
      <div class="value">
        <i class="user icon"></i>
      </div>
      <div class="label">
        Tài khoản PCare
      </div>
    </div>
    <!-- <div class="ui statistic" id="calendar">
    <div class="value">
    <i class="calendar outline icon"></i>
  </div>
  <div class="label">
  Lịch uống thuốc
</div>
</div> -->

<div class="ui statistic" id="infonews">
  <div class="value">
    <i class="gift icon"></i>
  </div>
  <div class="label">
    Thông Tin Đổi Quà
  </div>
</div>
<div class="ui statistic" id="infonews">
  <div class="value">
    <i class="mail icon"></i>
  </div>
  <div class="label">
    Kết nối
  </div>
</div>

</div>
</template>
