<template name="infonewsTemplate">
  <a class="header">{{ProdName}}</a>
  <div class="ui relaxed divided list">
    <div class="navbar-inner">
      <div>
        <h4><a class="brand" href="http://www.phanopharmacy.com/">
          CÔNG TY CỔ PHẦN DƯỢC PHẨM PHANO</a></h4>
          <b>Địa chỉ:</b>	31 Hồ Biểu Chánh, Phường 12, Quận Phú Nhuận, TP.HCM<br>
          <b>Điện thoại:</b><a href="tel:+84838477222" onClick="alert('Bạn muốn gọi vào số điện thoại này')">(+84.8) 38 47 72 22</a><br>
          <b>Email:</b>	<a href="mailto:contact@phanopharmacy.com">contact@phanopharmacy.com</a>
        </div>
      </div>
    </div>
    <div style="margin-bottom:10px;">
      {{#unless currentUser}}
      {{#if showUserInfo}}
      <p id="UserInfor">{{>createNewRoom}}</p>
      {{/if}}
      {{/unless}}
      <p id="chatBox" style="visibility:{{isShowChatBox}}">
        {{> messagesCus}}
        <div style="margin-top:20px;">
          {{> inputChat}}
        </div>
      </p>
    </div>
  </template>
  <template name="createNewRoom">
    <form id="createRoomName" class="ui form">
    <div class="navbar-inner" style="width: 100%" id="hidden">
      <div>
        <b><h5>CHAT HỖ TRỢ TRỰC TUYẾN</h5></b><hr />
        <div class="field">
          <input type="text" id="goName" placeholder="Mời nhập Họ Tên"  class="ui form-control">
        </div>
        <div class="field">
          <input type="text" id="goPhone" placeholder="Mời nhập số Điện Thoại" class="ui form-control">
        </div>
        <div class="field">
          <center>
            <input type="submit" id="createRoom" value="Bắt đầu trò chuyện" class="ui button teal createRoom">
          </center>
        </div><br />
      </div>
    </div>
    </form>
  </template>
  <template name="inputChat">
    <form id="inputChatMes" class="ui form">
      <div class="field">
        <input class="form-control" type="text" id="txtInput" placeholder="Xin mời nhập tin nhắn" style="margin-right:8px;">
      </div>
      <div class="field">
        <input type="submit" value="Gửi Tin Nhắn" class="ui teal button sendMes" style="margin-top:5px;">
      </div>
    </form>
  </template>
  <template name="messageCus">
    <!-- <div style="float:right;">
      <strong class="ui label">
        {{user}}:
      </strong>
    </div> -->
    {{#if checkuser user}}
      <br />
      <div style="float:right;margin-top: 5px;margin-bottom:5px;">
        <i class="ui right pointing white basic label">
          <i style="font-size: 1.2em;">{{text}}</i><br>
          <i style="font-size: 0.7em;">({{timestamp}})</i>
        </i>
      </div><br /><br />
    {{else}}
      <br />
      <div style="float:left;">
        <i class="ui left pointing teal basic label">
          <i style="font-size: 1.2em;">{{text}}</i><br>
          <i style="font-size: 0.7em;">({{timestamp}})</i>
        </i>
      </div><br />
    {{/if}}
  </template>
  <template name="messagesCus">
    Hỗ Trợ Trực Tuyến
    <hr />
    <div id="messagesCus">
      {{#each messagesCus}}
      {{> messageCus}}
      {{/each}}
    </div>
  </template>
