
<template name="layoutTemplate">
  <div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a class="item" href="{{pathFor route='home'}}">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item" href="{{pathFor route='prescription'}}">
      <i class="block layout icon"></i>
      Nhắc nhớ
    </a>
    <a class="item" href="{{pathFor route='pharmacy'}}">
      <i class="smile icon"></i>
      Tìm nhà thuốc
    </a>
    <a class="item" href="{{pathFor route='news'}}">
      <i class="smile icon"></i>
      Ưu đãi
    </a>
    <a class="item" href="{{pathFor route='userinfo'}}">
      <i class="smile icon"></i>
      Tài khoản PCare
    </a>
    <a class="item" href="/">
      <i class="smile icon"></i>
      Kết nối Phano
    </a>
</div>
    <div id="content" class=" pusher"  style="height: 100%;">
      <div class="ui borderless menu teal top fixed inverted small">
        <a class="item" id="btnMenu">
          <i class="home icon"></i>
          Menu</a>
        <div class="menu" style="text-align:center;">
          <div class="header item">
            Phano
          </div>
        </div>
      </div>
      <div class="ui container" style="padding-top: 50px; height: 100%;background-image: url('./icon/background.png'); background-size: 100%;
      background-position: bottom;background-repeat:no-repeat; width:100%;">
        {{> yield}}
      </div>
    </div>
    <div id="loadingScreen" class="ui dimmer">
      <div class="ui loader"></div>
    </div>
</template>

<template name="loadingTemplate">
  <div class="ui active dimmer">
    <div class="ui loader"></div>
  </div>
</template>

<template name="loginLayoutTemplate">
    <div id="content">
      <div class="ui container" style="padding-top: 50px;">
        {{> yield}}
      </div>
    </div>
    <div id="loadingScreen" class="ui dimmer">
      <div class="ui loader"></div>
    </div>
</template>

<template name="screenLayoutTemplate">
  <div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a class="item" href="{{pathFor route='home'}}">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item" href="{{pathFor route='prescription'}}">
      <i class="block layout icon"></i>
      Nhắc nhớ
    </a>
    <a class="item" href="{{pathFor route='pharmacy'}}">
      <i class="smile icon"></i>
      Tìm nhà thuốc
    </a>
    <a class="item" href="{{pathFor route='news'}}">
      <i class="smile icon"></i>
      Ưu đãi
    </a>
    <a class="item" href="{{pathFor route='userinfo'}}">
      <i class="smile icon"></i>
      Tài khoản PCare
    </a>
    <a class="item" href="/">
      <i class="smile icon"></i>
      Kết nối Phano
    </a>
</div>
    <div id="content" class=" pusher">
      <div class="ui borderless menu teal top fixed inverted small">
        <a class="item" id="btnMenu">
          <i class="home icon"></i>
          Menu</a>
        <div class="menu" style="text-align:center;">
          <div class="header item">
            Phano
          </div>
        </div>
        <div class="right menu">
  <a class="ui item" href="{{pathFor route='home'}}">
    Back
  </a>
</div>
      </div>
      <div class="ui container" style="padding-top: 50px;">
        {{> yield}}
      </div>
    </div>
    <div id="loadingScreen" class="ui dimmer">
      <div class="ui loader"></div>
    </div>
</template>
