<template name = "listprescriptionTemplate" >
  <a class="header">{{ProdName}}</a>

  <div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Đơn thuốc của tôi</a>
    <a class="item" data-tab="second">Danh sách đơn thuốc</a>
  </div>
  <div class="ui bottom attached tab segment active" data-tab="first">
    <div class="ui relaxed divided list">
      <div class="item">
        <div class="content">
          <a class="header">Đơn thuốc 1</a>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <a class="header">Đơn thuốc 1</a>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <a class="header">Đơn thuốc 1</a>
        </div>
      </div>
  </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    <div class="ui relaxed divided list">
      {{#each showPhoto}}
      <div class="item">
        <div class="content">
          <a class="header">{{name}}</a>
          <div style="float: left;">
            <button class="ui button">Review</button>
            <button class="ui button">Order</button>
        </div>
        </div>
      </div>
      {{/each}}
  </div>
</div>
</template>
<template name="photoPrescription">
  <div class="ui" style="margin:15px">
    <form class="ui form" id="newMedicine" method="post">
      <h3 align="center">Thông tin đơn thuốc</h3>
      <div class="content">
        <div class="field">
          <label>Đơn thuốc::</label>
          <img src="" />
        </div>
        <div class="field">
          <label>Họ tên:</label>
          <input type="text" name="txtName" id="txtName" placeholder="Nhập họ tên" />
        </div>
        <div class="field">
          <label>Số điện thoại:</label>
          <input type="text" name="txtPhone" id="txtPhone" placeholder="Nhập số điện thoại" />
        </div>
      </div>
      <div class="actions" style="float:right;margin:15px">
        <button class="ui black deny button" type="reset">Hủy</button>
        <button class="ui positive primary right labeled button" type="submit" id="btnLuuMedicine">Lưu</button>
      </div>
      <div class="field">&nbsp;</div>
    </form>
  </div>
</template>
