<template name = "listprescriptionTemplate" >
  <a class="header">{{ProdName}}</a>

  <div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">Đơn thuốc của tôi</a>
    <a class="item" data-tab="second">Danh sách đơn thuốc</a>
  </div>
  <div class="ui bottom attached tab segment active" data-tab="first">
    <div class="ui relaxed divided list">
      <div class="item">
        <div class="content">
          <div class="header">
            <a data-action="xem">Đơn thuốc 1</a>
            <button class="ui button" style="margin-left:10%;">Refill</button>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">
            <a data-action="xem">Đơn thuốc 2</a>
            <button class="ui button" style="margin-left:10%;">Refill</button>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">
            <a data-action="xem">Đơn thuốc 3</a>
            <button class="ui button" style="margin-left:10%;">Refill</button>
          </div>
        </div>
      </div>
  </div>
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    <div class="ui relaxed divided list">
      <!-- {{#each showPhoto}} -->
      <div class="item">
        <div class="content">
          <a class="header" data-action="xem">Van Tuan Van Tuan Van Tuan Van Tuan</a>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <a class="header" data-action="xem">Van Tuan Van Tuan Van Tuan Van Tuan</a>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <a class="header" data-action="xem">Van Tuan Van Tuan Van Tuan Van Tuan</a>
        </div>
      </div>
      <!-- {{/each}} -->
  </div>
</div>
</template>
<template name="photoPrescription">
  <div class="ui" style="margin:15px">
    <form class="ui form" id="newMedicine" method="post">
      <h3 align="center">Thông tin đơn thuốc</h3>
      <div class="content">
        <div class="field">
          <p><img src="{{photo}}" /></p>
        </div>
        <div class="field">
          <label>Tên đơn thuốc:</label>
          <p>{{namepres}}</p>
        </div>
        <div class="field">
          <label>Họ tên:</label>
          <div>{{name}}</div>
        </div>
        <div class="field">
          <label>Số điện thoại:</label>
          <p>{{phone}}</p>
        </div>
      </div>
      <div class="actions" style="float:right;margin:15px">
        <button class="ui black deny button" type="reset">Cancel</button>
        <button class="ui positive primary right labeled button" data-action="Order">Order</button>
      </div>
      <div class="field">&nbsp;</div>
    </form>
  </div>
</template>
