<template name="pharmacy">
  <h1>TÌM NHÀ THUỐC:</h1>
  <div class="field" style="margin:15px">
    <form id="search">
      <select class="ui dropdown" id="searchCity">
        <option value="">Chọn Thành Phố :</option>
        <option value="TP.Hồ Chí Minh">TP.Hồ Chí Minh</option>
        <option value="Đà Nẵng">Đà Nẵng</option>
        <option value="Bình Dương">Bình Dương</option>
        <option value="Cần Thơ">Cần Thơ</option>
        <option value="Cà Mau">Cà Mau</option>
        <option value="Lâm Đồng">Lâm Đồng</option>
        <option value="Đồng Nai">Đồng Nai</option>
        <option value="Cà Mau">Cà Mau</option>
      </select>
    </form> <br>
    <div>
      <form id="submitDis">
        <select class="ui dropdown" id="searchDistrict">
          <option value="">Chọn Quận</option>
          {{#each ShowDistrict}}<option value={{DISTRICT}}>{{DISTRICT}}</option>{{/each}}
        </select>
        <button type="submit" class="ui icon button" name="submitDistrict">
          <i class="search icon"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="ui relaxed divided list">
    {{#each ShowAll}}
    <div class="item">
      <i class="home icon"></i>
      <div class="content">
        <a class="header">{{PHAMANAME}}</a>
        <div class="address">ĐỊA CHỈ: {{ADDRESS}}. {{DISTRICT}}. {{CITY}}</div>
        <div class="phone">TEL: {{PHONE}}</div>
      </div>
    </div>
    {{/each}}
  </div>
  <center><div class="map-container">
    {{> googleMap name="exampleMap" options=exampleMapOptions}}
  </div></center>
</template>
