<template name="scanprescriptionTemplate">
  <a class="header">{{ProdName}}</a>

  <div class="ui relaxed divided list">
    <form class="ui fluid form">
      <p>
        {{#if photo}}
        <div style="text-align:center;">
          <img src={{photo}}  style="width: 60%;"/>
        </div>
        {{else}}
        <div style="text-align:center;">
          <img src="./img/photo_default.png" style="width: 60%;"/>
        </div>
        {{/if}}
      </p>
      <p style="text-align: center;">
        <input type="button" class="ui blue button" id="capture" value="Chụp đơn thuốc" />
      </p>
      <!-- <div><textarea>{{strings}}</textarea></div> -->
        {{#if isUser }}
        <div></div>
        {{else}}
        <p>{{text}}</p>
        <div class="field">
          <label>Họ tên:</label>
          <input type="text" placeholder="Vui lòng nhập họ tên của bạn" id="txtName" />
        </div>
        <div class="field">
          <label>Số điện thoại:</label>
          <input type="text" placeholder="Vui lòng nhập số điện thoại của bạn" id="txtPhone" />
        </div>
        {{/if}}
        <div class="field">
          <label>Tên đơn thuốc:</label>
          <input type="text" placeholder="Vui lòng nhập tên đơn thuốc của bạn" id="txtPres" />
        </div>
      <div style="float: right;">
        <input type="button" class="ui grey button" id="Cancel" value="Làm lại" />
        <input type="button" class="ui blue button" id="btnSave" value="Lưu thông tin" />
      </div>
      <div class="field">&nbsp;</div>
    </form>
  </div>
</template>
