/* CSS declarations go here */
.ui.statistics .statistic > .label, .ui.statistic > .label {
    font-size: 10px;
}
.map-container {
  width: 800px;
  max-width: 100%;
  height: 500px;
}
html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: 100% !important;
}
button {
  height: 3em;
}

img {
  max-width: 100%
}

form {
  margin-top: 2em;
}

input[type="text"] {
  width: 80%
}
html.body {
    padding: 100px;
}
.style-background {
  background-image: url('./icon/white.png');
  background-size: 100% 100%;
  background-position: relative;
  background-repeat:no-repeat;
}
.style-background-image {
  background-image: url('./icon/background.png');
  background-size: 78% 70%;
  background-repeat: no-repeat;
  background-position: left bottom;
  height:100%;
}
.style-footer {
  background-image:url('./icon/footer.png');
  width:100%;
  position: fixed;
  bottom: 0;
  height: 45px;
  background-size:100% 100%;
}
.header-menu {
   padding-top: 100px;
}
.size-icon-image {
  width: 44px;
  height: 42px;
}
.size-item {
  height: 100%;
}

@media screen and (min-width: 800px) {
  .style-background-image {
    background-image: url('./icon/background.png');
    background-size: 58% 65%;
    background-repeat: no-repeat;
    background-position: bottom;
    height:100%;
  }
  .style-background {
    background-image: url('./icon/white.png');
    background-size: 100% 100%;
    background-position: relative;
    background-repeat:no-repeat;
  }
  .header-menu {
     padding-top: 180px;
  }
  .size-icon-image {
    width: 100px;
    height: 280px;
  }
  .size-item {
    height: 500px;
  }
  .ui.statistic > .label {
    font-size: 20px;
  }
  .ui.statistics .statistic > .label, .ui.statistic > .label {
      font-size: 15px;
      font-family:verdana;
  }
  .style-footer {
    background-image:url('./icon/footer.png');
    width:100%;
    position: fixed;
    bottom: 0;
    height: 65px;
    background-size:100% 100%;
  }
}
